html 
    include partials/head.pug 
    body
        h1 2018 Smite World Championship Roster API Documentation
        //- img(src='spl-logo.png')
        div(class='gets')
            h2 Method 
            p GET
            h2 Route 
            p http://localhost:1340/api/teams
            h2 Description 
            p Returns a list of all teams participating in the tournament including their regions
            h2 Response 
            pre  
                | [{
                |      id: 1,
                |      regionId: 1,
                |      name:'eUnited',
                |      head-coach: 'Cardiac'
                |      sponsors: 'ASTRO Gaming'
                |      solo: 'Benji',
                |      mid: 'Venenu',
                |      jungle: 'Screammmmm',
                |      support: 'PolarBearMike',
                |      hunter: 'PandaCat'
                |      createdAt: "2021-12-16T23:26:47.000Z",
                |      updatedAt: "2021-12-16T23:26:47.000Z",
                |      deletedAt: null,
                |      region: {
                |           id: 1,
                |           name: "North America",
                |           createdAt: "2022-02-09T02:31:57.000Z",
                |           updatedAt: "2022-02-09T02:31:57.000Z",
                |           deletedAt: null
                |  }, 
                |  {
                |      id: 2,
                |      regionId: 1,
                |      name:'Team RivaL',
                |      head-coach: 'AlphaJackal'
                |      sponsors: 'EGL'
                |      solo: 'Deathwalker',
                |      mid: 'Wlfy',
                |      jungle: 'iceicebabyy ',
                |      support: 'KaLas',
                |      hunter: 'Vote'
                |      createdAt: "2021-12-16T23:26:47.000Z",
                |      updatedAt: "2021-12-16T23:26:47.000Z",
                |      deletedAt: null,
                |      region: {
                |           id: 1,
                |           name: "North America",
                |           createdAt: "2022-02-09T02:31:57.000Z",
                |           updatedAt: "2022-02-09T02:31:57.000Z",
                |           deletedAt: null
                |  }, 
                |  }]
        div(class='gets')
            h2 Method 
            p GET
            h2 Route 
            p http://localhost:1340/api/teams/:id
            h2 Description 
            p Returns the team who's id matches the request including a team's respective region.
            h2 Response 
            pre  
                |  [{
                |      id: 1,
                |      regionId: 1,
                |      name:'eUnited',
                |      head-coach: 'Cardiac'
                |      sponsors: 'ASTRO Gaming'
                |      solo: 'Benji',
                |      mid: 'Venenu',
                |      jungle: 'Screammmmm',
                |      support: 'PolarBearMike',
                |      hunter: 'PandaCat'
                |      createdAt: "2021-12-16T23:26:47.000Z",
                |      updatedAt: "2021-12-16T23:26:47.000Z",
                |      deletedAt: null,
                |      region: {
                |           id: 1,
                |           name: "North America",
                |           createdAt: "2022-02-09T02:31:57.000Z",
                |           updatedAt: "2022-02-09T02:31:57.000Z",
                |           deletedAt: null
                |  }, 
                |
                |  }]
        div(class='gets')
            h2 Method 
            p GET
            h2 Route 
            p http://localhost:1340/api/regions
            h2 Description 
            p Returns a list of all teams participating in the tournament 
            h2 Response 
            pre  
                | [{
                |      id: 1,
                |      name: "Australia",
                |      createdAt: "2022-02-05T22:30:19.000Z",
                |      updatedAt: "2022-02-05T22:30:19.000Z",
                |      deletedAt: null
                |  }, 
                |  {
                |      id: 2,
                |      name: "China",
                |      createdAt: "2022-02-05T22:30:19.000Z",
                |      updatedAt: "2022-02-05T22:30:19.000Z",
                |      deletedAt: null
                |  }]
        div(class='gets')
            h2 Method 
            p GET
            h2 Route 
            p http://localhost:1340/api/regions/:id
            h2 Description 
            p Returns the regions who's id matches the request.
            h2 Response 
            pre  
                | [{
                |      id: 1,
                |      name: "Australia",
                |      createdAt: "2022-02-05T22:30:19.000Z",
                |      updatedAt: "2022-02-05T22:30:19.000Z",
                |      deletedAt: null
                |  }]
        div(class='posts')
            h2 Method 
            p POST
            h2 Route 
            p http://localhost:1340/api/teams
            h2 Headers
            p Content-Type: application/json
            h2 Body 
            pre 
                |  {
                |      regionId: 1,
                |      name:'Jade Dragons',
                |      head-coach: 'Caboom'
                |      sponsors: 'HiRez Studios'
                |      solo: 'fineOkay',
                |      mid: 'Hurriwind',
                |      jungle: 'Sam4soccer2',
                |      support: 'PolarBearMike',
                |      hunter: 'PandaCat'
                |  }
            h2 Description 
            p Creates a new team from data provided in the body
            h2 Response 
            pre  
                |  {
                |      id: 10,
                |      regionId: 1,
                |      name:'Jade Dragons',
                |      head-coach: 'Caboom'
                |      sponsors: 'HiRez Studios'
                |      solo: 'fineOkay',
                |      mid: 'Hurriwind',
                |      jungle: 'Sam4soccer2',
                |      support: 'PolarBearMike',
                |      hunter: 'PandaCat'
                |      createdAt: "2021-12-16T23:26:47.000Z",
                |      updatedAt: "2021-12-16T23:26:47.000Z"
                |  }
        div(class='posts')
            h2 Method 
            p POST
            h2 Route 
            p http://localhost:1340/api/regions
            h2 Headers
            p Content-Type: application/json
            h2 Body 
            pre 
                |  [{
                |      name: "EU",
                |
                |  }]
            h2 Description 
            p Creates a new region from data provided in the body
            h2 Response 
            pre  
                |  {
                |      id: 7,
                |      name: "EU",
                |      createdAt: "2022-02-05T22:30:19.000Z",
                |      updatedAt: "2022-02-05T22:30:19.000Z"
                |  }
        div(class='puts')
            h2 Method 
            p PUT
            h2 Route 
            p http://localhost:1340/api/teams/:id
            h2 Headers
            p Content-Type: application/json
            h2 Body 
            pre 
                |  {
                |      regionId: 1,
                |      name:'zUnited',
                |      head-coach: 'Cardiac'
                |      sponsors: 'Tecknet'
                |      solo: 'Benji',
                |      mid: 'Venenu',
                |      jungle: 'Screammmmm',
                |      support: 'PolarBearMike',
                |      hunter: 'Variety'
                |  }
            h2 Description 
            p Updates an existing team by the team's ID
            h2 Response 
            pre  
                |      regionId: 1,
                |      name:'zUnited',
                |      head-coach: 'Cardiac'
                |      sponsors: 'Tecknet'
                |      solo: 'Benji',
                |      mid: 'Venenu',
                |      jungle: 'Screammmmm',
                |      support: 'PolarBearMike',
                |      hunter: 'Variety'
                |  }
        div(class='puts')
            h2 Method 
            p PUT
            h2 Route 
            p http://localhost:1340/api/regions/:id
            h2 Headers
            p Content-Type: application/json
            h2 Body 
            pre 
                |  {
                |       name: 'South Africa'
                |  }
            h2 Description 
            p Updates an existing region by the regions's name
            h2 Response 
            pre  
                |  {
                |       solo: 'South Africa'
                |  }
        div(class='deletes')
            h2 Method 
            p DELETE
            h2 Route 
            p http://localhost:1340/api/teams/:id
            h2 Headers
            p Content-Type: application/json
            h2 Description 
            p Deletes an existing team by the team's ID
            h2 Response 
            pre  
                |  {
                |      'Success' 
                |  }
        div(class='deletes')
            h2 Method 
            p DELETE
            h2 Route 
            p http://localhost:1340/api/regions/:id
            h2 Headers
            p Content-Type: application/json
            h2 Description 
            p Deletes an existing team's roster by the team's name
            h2 Response 
            pre  
                |  {
                |       'Success'
                |  }